body {
    background-color: rgb(86, 209, 158);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#gameName {
    display: flex;
    justify-content: center;
    font-size: xxx-large;
}

#gameDisplay {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    flex-direction: row;
}

.cup {
    margin: 10px;
}

.cup img {
    height: 250px;
    width: 200px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 15px;
    border-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#message {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}
